@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Manager</h1>
    <p class="lead">ASP.NET MVC 5 Demo app, for working with data about firms, projects and employees.</p>
    <p><a href="https://github.com/ognjen-vid/ProjectManagerEF/archive/master.zip" class="btn btn-primary btn-lg">Download app</a></p>
</div>